{% extends 'solveur/base.html' %}

{% block title %}
  Solution du Problème Linéaire
{% endblock %}

{% block content %}
  <a href="{% url 'solveur:index' %}"><i class= "bi bi-arrow-left-circle-fill fs-1"></i></a>
  <div class="container mt-3">
    <h1 class="text-center text-primary my-3">Solution optimale du problème</h1>
    <div class="card mt-5">
      <div class="card-body">
        <h3 class="my-2">Solutions:</h3>
        <ul class="list-group">
          {% for var, value in data.solution.items %}
            <li class="list-group-item">{{ var }}: {{ value }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
